body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    text-align: center;
  }
  
  input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

.btn-custom {
  background-color: #ff5733; 
  border-color: #ff5733; 
  color: #fff; 
}


.btn-custom:hover {
  background-color: #ff4022; 
  border-color: #ff4022; 
}
